ARTIntegrationUtility/Service References/ARTIntegrationServices.FTPUserService/FTPUserService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FTPUserService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/ARTIntegrationServices/Services/FTPUserService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/ARTIntegrationServices/Services/FTPUserService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFTPUserService_IsUserExists_InputMessage">
    <wsdl:part name="parameters" element="tns:IsUserExists" />
  </wsdl:message>
  <wsdl:message name="IFTPUserService_IsUserExists_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsUserExistsResponse" />
  </wsdl:message>
  <wsdl:message name="IFTPUserService_CreateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateUser" />
  </wsdl:message>
  <wsdl:message name="IFTPUserService_CreateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IFTPUserService_RemoveUser_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveUser" />
  </wsdl:message>
  <wsdl:message name="IFTPUserService_RemoveUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveUserResponse" />
  </wsdl:message>
  <wsdl:message name="IFTPUserService_EnableDisableUser_InputMessage">
    <wsdl:part name="parameters" element="tns:EnableDisableUser" />
  </wsdl:message>
  <wsdl:message name="IFTPUserService_EnableDisableUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnableDisableUserResponse" />
  </wsdl:message>
  <wsdl:message name="IFTPUserService_ChangePassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangePassword" />
  </wsdl:message>
  <wsdl:message name="IFTPUserService_ChangePassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IFTPUserService_ResetPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ResetPassword" />
  </wsdl:message>
  <wsdl:message name="IFTPUserService_ResetPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ResetPasswordResponse" />
  </wsdl:message>
  <wsdl:portType name="IFTPUserService">
    <wsdl:operation name="IsUserExists">
      <wsdl:input wsaw:Action="http://tempuri.org/IFTPUserService/IsUserExists" message="tns:IFTPUserService_IsUserExists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFTPUserService/IsUserExistsResponse" message="tns:IFTPUserService_IsUserExists_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IFTPUserService/CreateUser" message="tns:IFTPUserService_CreateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFTPUserService/CreateUserResponse" message="tns:IFTPUserService_CreateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IFTPUserService/RemoveUser" message="tns:IFTPUserService_RemoveUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFTPUserService/RemoveUserResponse" message="tns:IFTPUserService_RemoveUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnableDisableUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IFTPUserService/EnableDisableUser" message="tns:IFTPUserService_EnableDisableUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFTPUserService/EnableDisableUserResponse" message="tns:IFTPUserService_EnableDisableUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IFTPUserService/ChangePassword" message="tns:IFTPUserService_ChangePassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFTPUserService/ChangePasswordResponse" message="tns:IFTPUserService_ChangePassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ResetPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IFTPUserService/ResetPassword" message="tns:IFTPUserService_ResetPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFTPUserService/ResetPasswordResponse" message="tns:IFTPUserService_ResetPassword_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFTPUserService" type="tns:IFTPUserService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IsUserExists">
      <soap:operation soapAction="http://tempuri.org/IFTPUserService/IsUserExists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <soap:operation soapAction="http://tempuri.org/IFTPUserService/CreateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveUser">
      <soap:operation soapAction="http://tempuri.org/IFTPUserService/RemoveUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnableDisableUser">
      <soap:operation soapAction="http://tempuri.org/IFTPUserService/EnableDisableUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap:operation soapAction="http://tempuri.org/IFTPUserService/ChangePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetPassword">
      <soap:operation soapAction="http://tempuri.org/IFTPUserService/ResetPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FTPUserService">
    <wsdl:port name="BasicHttpBinding_IFTPUserService" binding="tns:BasicHttpBinding_IFTPUserService">
      <soap:address location="http://localhost/ARTIntegrationServices/Services/FTPUserService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>